<header local-class="header">
  <LinkTo @route="application" local-class="brand">Ember Handbook</LinkTo>

  {{#let (unique-id) as |menuId|}}
    <input id={{menuId}} class="visually-hidden" type="checkbox" data-toggle />
    <label local-class="icon" for={{menuId}}>
      <span local-class="line"></span>
      <span local-class="line"></span>
      <span local-class="line"></span>
    </label>
  {{/let}}

  <nav>
    {{#let (link "component-architecture") as |link|}}
      <a
        href={{link.url}}
        local-class={{if link.isActive "active"}}
        {{on "click" link.transitionTo}}
      >
        Component Architecture
      </a>
    {{/let}}

    {{#let (link "ui-patterns") as |link|}}
      <a
        href={{link.url}}
        local-class={{if link.isActive "active"}}
        {{on "click" link.transitionTo}}
      >
        UI Patterns
      </a>
    {{/let}}
  </nav>
</header>

<div local-class="main">
  {{outlet}}
</div>