<tr>
  {{yield}}
  <td local-class='{{@invocation}}'>{{@invocation}}</td>
  <td local-class='{{@styled}}'>{{@styled}}</td>
  <td local-class='{{@content}}'>{{@content}}</td>
  <td local-class='{{@structure}}'>{{@structure}}</td>
  <td local-class='{{@logic}}'>{{@logic}}</td>
</tr>